body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  margin-left: 40px;
}

.footer-text p {
  text-align: justify;
  line-height: 1.6;
}

.user-btn {
  background-color: rgb(56, 126, 209);
  color: white;
}

.user-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid rgb(56, 126, 209);
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 10px 25px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
